* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 16px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

form input {
    padding: 8px;
}

form button {
    margin-left: 8px;
    padding: 8px;
    font-weight: bold;
    cursor: pointer;
}

ol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

li {
    cursor: pointer;
}



